.pres{
    height: 300vh;
    background: black;
    background-image: url('../media/stars.jpg');
    // background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .fondo{
        height: 100%;
        background: rgb(255, 255, 255);
        background: 
            linear-gradient(180deg, rgba(255,255,255,0) 0%,
             rgba(0,0,0,.8) 90%);
        position: relative;
        .pres-cont{
            position: absolute;
            height: 100vh;
            bottom: 0;
            display: flex;
            >section{
                width: 95%;
                max-width: 700px;
                margin: auto;
                h1{
                    display: block;
                    position: relative;
                    animation: vuelta 4s infinite linear;
                    // animation: subida .9s infinite linear;
                }
                >div{
                    background: #06074588;
                    display: grid;
                    grid-template-columns: 200px 1fr;
                    gap: 10px;
                    margin-top: 40px;
                    padding: 20px 0;
                    picture{
                        width: 200px;
                        height: 200px;
                        margin:  0 auto;
                        padding: 10px;
                        // border-radius: 57% 43% 70% 30% / 48% 54% 46% 52% ;
                        // background: #4b0534;
                        // box-shadow: 10px 10px 10px #4b0534;
                        position: relative;
                        background: #4b0534;
                        border-radius: 57% 43% 70% 30% / 48% 54% 46% 52% ;
                        display: block;
                        z-index: 2;
                        &::after{
                            content: '';
                            background-image: url('../media/user.png');
                            background-size: contain;
                            position: absolute;
                            top: 30px;
                            left: -0px;
                            // background: #4b0534;
                            // border-radius: 57% 43% 70% 30% / 48% 54% 46% 52% ;
                            width: 80%;
                            height: 80%;
                            z-index: 0;
                        }
                    }
                    >section{
                        >div{
                            color: white;
                            font-size: .8rem;
                            h2{
                                font-family: 'Righteous', cursive;
                                font-size: 1em;
                                margin-bottom: 10px;
                            }
                            p{
                                font-size: .7em;
                            }
                        }
                        nav{
                            display: flex;
                            gap: 10px;
                            margin-top: 15px;
                            a{
                                color: white;
                                // background: black;
                                background: #4b0534;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                font-size: 1.2rem;
                                position: relative;
                                border-radius: 5px;
                                &::after{
                                    content: attr(tit);
                                    position: absolute;
                                    width: 70px;
                                    left: calc(50% - 35px);
                                    top: 50px;
                                    // background: red;
                                    opacity: 0;
                                    text-align: center;
                                    font-size: .65rem;
                                    transition: .3s all;
                                }
                                &:hover{
                                    &::after{
                                        opacity: 1;
                                        top: 45px;
                                    }
                                }
                                svg{
                                    margin: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media  (max-width: 700px) {
    .pres{
        .fondo{
            .pres-cont{
                >section{
                    >div{
                        display: block;
                    }
                }
            }
        }
    }
}