* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
body {
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh
}
html {
    font-size: 20px
}
div,section,nav,picture,img,span,small,strong,label,input,button,a {
    display: block;
    width: 100%
}
img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.dialog {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    // scale: .5;
    // transform: scale(.7);
    z-index: 2;
    >section{
        width: 95%;
        max-width: 550px;
        padding: 25px 0;
        border-radius: 15px;
        max-height: 90vh;
        overflow: auto;
        h2{
            text-align: center;
            font-family: "Josefin Sans", sans-serif;
            font-size: 1.2rem;
            padding-bottom: 10px;
            letter-spacing: 1.5px
        }
        &.selecPagoSpan {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 15px
            button,a{
                width: 90%;
                background: none;
                border: 0;
                cursor: pointer;
                position: relative
                i{
                    position: absolute;
                    right: 10px;
                    top: -10px
                }
            }
            label{
                font-size: 1rem
            }
        }
        a,.opcButton{
            font-size: .85rem;
            width: 210px;
            margin: 20px auto 0;
            text-decoration: none;
            text-align: center;
            border-radius: 10px;
            padding: 7px 0
        }
        h3 {font-size: .9rem}
        b {font-size: 1rem}
        span {font-size: .9rem}
        form {
            width: 90%;
            margin: 0 auto;
            input {
                margin: 2px auto 15px;
                outline: none;
                padding: 10px 15px;
                border-radius: 10px
            }
        }
        i {
            display: block;
            opacity: .9;
            font-family: "Jura", sans-serif;
            font-size: .9rem;
            padding-top: 15px;
            text-align: center;
            font-weight: 600;
        }
    }
}
.platillos {
    background: rgba(0, 0, 0, .6);
    >section {
        form{
            button {
                background: none;
                padding: 5px 0;
                max-width: 250px;
                margin: 0 auto;
                border-radius: 10px;
                cursor: pointer;
            }
            input {
                margin: 10px auto 15px;
            }
        }
    }
}
.orden{
    section{
        h2{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            picture{
                width: 30px;
                img{
                    object-fit: contain
                }
            }
        }
        .ordenMain{
            ordenMainCon{
                width: 90%;
                margin: 0 auto 10px;
                padding-bottom: 5px;
                div{
                    width: 100%;
                    position: relative;
                    h3{
                        font-size: 1rem;
                        font-weight: 100;
                        text-transform: capitalize;
                        font-family: "Montserrat", sans-serif
                    }
                    span{
                        display: block;
                        width: 100px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: .8rem;
                        h4{
                            font-weight: 100;
                            font-family: "Montserrat", sans-serif;
                        }
                    }
                }
            }
            b{
                display: block;
                text-align: end;
                font-family: "Jura", sans-serif;
                font-size: .85rem
            }
        }
        .tot{
            width: 90%;
            margin: 20px auto 0;
            text-align: right;
            font-weight: 100;
        }
        div{
            width: 90%;
            margin: 15px auto 5px;
            gap: 5px;
            h3{
                font-weight: 100;
                margin-bottom: 4px;
            }
            b{
                padding-left: 30px;
            }
            span{
                font-weight: 100;
                text-align: center;
            }
        }
    }
}

.cuerpo {
    min-height: 100vh;
    padding: 25px 0 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    h1 {
        user-select: none;
        font-family: "Josefin Sans", sans-serif;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        picture {
            width: 50px;
            img{
                object-fit: contain;
            }
        }
    }
    .navegacion {
        padding-top: 15px;
        section {
            width: 90%;
            margin: 0 auto 20px;
            border-radius: 15px;
            transition: .3s all ease-in-out;
            height: 58px;
            overflow: hidden;
            >div {
                user-select: none;
                width: 95%;
                margin: 0 auto;
                height: 60px;
                padding: 10px 0;
                display: grid;
                grid-template-columns: 80px 1fr 30px;
                place-content: center;
                position: relative;
                .tapa{
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0);
                    position: absolute;
                    cursor: pointer;
                }
                picture{
                    width: 70px;
                    height: 30px;
                }
                h2 {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 2px;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    font-family: "Josefin Sans", sans-serif;
                }
                span {
                    cursor: pointer;
                    svg {
                        transition: .3s all ease-in-out;
                        font-size: 25px;
                    }
                }
            }
            nav {
                width: 95%;
                margin: 0 auto;
                div {
                    padding: 15px 0 0;
                    position: relative;
                    display: grid;
                    grid-template-columns: 50px 1fr 50px;
                    .tapa,.tapaSVG{
                        position: absolute;
                        cursor: pointer;
                        background: rgba(0, 0, 255, 0);
                    }
                    >.tapa{
                        width: 100%;
                        height: 100%;
                    }
                    >.tapaSVG{
                        top: 20px;
                        right: -8px;
                        width: 50px;
                        height: 50px;
                        // background: rgba(255, 0, 0, 0.685);
                        display: none;
                    }
                    span{
                        width: 100%;
                        position: relative;
                        margin-bottom: 2px;
                        b {
                            font-size: 1.1rem;
                            font-family: "Josefin Sans", sans-serif;
                            text-transform: capitalize
                        }
                        i{
                            font-size: 1rem;
                            position: absolute;
                            right: 0;
                        }
                    }
                    strong {
                        text-align: center
                    }
                    small {
                        width: calc(100% - 100px);
                        transform: translateY(-15px);
                        margin: 0 auto;
                        grid-column: span 4;
                        font-size: .85rem;
                        font-family: "Jura", sans-serif
                    }
                    .canPlatillos {
                        width: 45px;
                        transform: translate(-150%, 10px);
                        background: red;
                        color: #fff;
                        font-size: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: .2s
                    }
                    .cancelarPlatillo {
                        transform: translate(150%, 10px);
                        cursor: pointer;
                        transition: .2s;
                        padding: 5px 0;
                        position: relative;
                        svg {
                            font-size: 1.5rem
                        }
                    }
                    &.ordenado{
                        .canPlatillos{
                            transform: translate(-30%, 10px);
                        }
                        .cancelarPlatillo{
                            transform: translate(10px, 10px);
                        }
                        >.tapaSVG{
                            display: block;
                        }
                    }
                    &.sinsinDescrption{
                        &.ordenado{
                            .canPlatillos{
                                transform: translate(-30%, -5px);
                            }
                            .cancelarPlatillo {
                                transform: translate(10px, -5px)
                            }
                        }
                    }
                }
            }
            &.desplegado>div span svg {
                transform: rotate(0.5turn)
            }
        }
    }
    button {
        padding: 9px 0;
        background: none;
        border: 0;
        border-radius: 10px;
        font-size: .8rem;
        width: 180px;
        margin: 50px auto 50vh;
        cursor: pointer;
        letter-spacing: 1.5px;
        font-weight: 900;
        text-transform: uppercase
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 15px
    }

    .con div {
        width: 145px
    }
}