* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
body {
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    // transform: translateY(0vh);
    transition: .3s all;
}
html {
    font-size: 20px;
    cursor: url(../media/1.png), auto;
}
div,section,nav,picture,img,span:not(.span-not),small,strong,label,input,button,a,header {
    display: block;
    width: 100%
}
img {
    height: 100%;
    object-fit: contain
}
button{
    border: 0;
    outline: none;
}
.subir{
    display: block;
    position: fixed;
    z-index: 99;
    top: 200px;
    right: 0;
    width: 50px;
    padding: 5px 0;
    cursor: pointer;
}
.app{
    min-height: 100vh;
    transform: translateY(0vh);
    transition: .1s all ;
}
header{
    position: relative;
    user-select: none;
    overflow: hidden;
    height: 100vh;
    picture{
        width: 100%;
        height: 100vh;
        img{
            object-fit: cover;
            z-index: -2;
        }
    }
    .opacidad-header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        section{
            position: relative;
            h3,nav{
                span{
                    font-family: 'Rubik Bubbles', cursive;
                    background: linear-gradient(#e000e0,#ff4d4dfa);
                    -webkit-background-clip: text;
                    color: transparent;  
                    text-transform: uppercase;
                    font-size: 3rem;
                }
            }
            button{
                cursor: pointer;
                svg{
                    position: absolute;
                    left: calc(50% - 2.5rem);
                    bottom: -100px;
                    color: white;
                    font-size: 5rem;
                    transition: .3s all ease-in-out;
                    &:hover{
                        transform: translateY(-6px);
                    }
                }
            }
        }
    }
    .header{
        section{
            h3{
                margin-bottom: 150px;
                font-family: 'Righteous', cursive;
                letter-spacing: 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-left: 50%;
                transform: translateX(-50%);
                span{
                    display: block;
                    animation: subida .9s infinite linear;
                }
            }
        }
    }
    .header2{
        section{
            >div{
                width: 100%;
                height: 100vh;
                h3{
                    width: 100%;
                    height: 100vh;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        display: block;
                        transition: .5s all ease-in-out;
                        animation: vuelta 6s infinite linear;
                        position: relative;
                        // transform: translate(0,-150px);
                    }
                }
                button{
                    svg{
                        bottom: 30px;
                    }
                }
            }
        }  
    }
    .header3{
        // display: block;
        align-items: center;
        section{
            div{
                nav{
                    text-align: center;
                    letter-spacing: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 10px;
                    b{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        span{
                            display: block;
                            width: 50px;
                            position: relative;
                            animation: vuelta 6s infinite linear;
                            transition: .4s all ease-in-out;
                            // transform: rotate(-.1turn);
                        }
                    }
                }
            }
        }
    }
    .opacidad{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: .5;
        transition: .3s all ease-in-out;
        background: rgb(255,255,255);
        background: 
            linear-gradient(180deg, rgba(255,255,255,0) 0%,
             rgba(0,0,0,.8) 90%);
    }
}

@keyframes vuelta {
    0%{
        top:5px;
        left:5px;
    }
    25%{
        top:-5px;
        left:5px;
    }
    50%{
        top:-5px;
        left:-5px;
    }
    75%{
        top:5px;
        left:-5px;
    }
    100%{
        top:5px;
        left:5px;
    }
}
@keyframes subida {
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(0px);
    }
}
.sld1{
    .pres{
        .fondo{
            .pres-cont{
                &.animado{
                    >section{
                        // h1{
                            // animation: presTop 2s ;
                        // }
                        >div{
                            picture{
                                animation: presImg 2s ;
                            }
                            >section{
                                animation: presTxt 2s ;
                            }
                        }
                    }
                }
            }
        }
    }
}
.sld2{
    .habil{
        nav{
            section{
                animation: carga 1s  linear,
                vuelta 6s infinite linear;
            }
        }
    }
}
.sld3{
    .works{
        .cont{
            animation: subir 2s ;
        }
    }
}
.pres{
    height: 300vh;
    background: black;
    background-image: url('../media/stars.jpg');
    // background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .fondo{
        height: 100%;
        background: rgb(255, 255, 255);
        background: 
            linear-gradient(180deg, rgba(255,255,255,0) 0%,
             rgba(0,0,0,.8) 90%);
        position: relative;
        .pres-cont{
            position: absolute;
            height: 100vh;
            bottom: 0;
            display: flex;
            >section{
                width: 80%;
                max-width: 900px;
                margin: auto;
                overflow: hidden;
                h1{
                    color: white;
                    text-align: center;
                    font-family: 'Rubik Bubbles', cursive;
                    background: linear-gradient(#e000e0,#ff4d4dfa);
                    -webkit-background-clip: text;
                    color: transparent;  
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-size: 2.5rem;
                    display: block;
                    position: relative;
                    animation: vuelta 4s infinite linear;
                    // animation: subida .9s infinite linear;
                }
                .dir{
                    position: absolute;
                    right: 30px;
                    color:white;
                    cursor: pointer;
                    font-size: 2.5rem;
                    &.arriba{
                        top: 30px;
                    }
                    &.abajo{
                        bottom: 30px;
                    }
                }
                >div{
                    background: #06074588;
                    display: grid;
                    grid-template-columns: 200px 1fr;
                    gap: 10px;
                    margin-top: 40px;
                    padding: 20px 0;
                    picture{
                        width: 200px;
                        height: 200px;
                        margin:  0 auto;
                        padding: 10px;
                        // border-radius: 57% 43% 70% 30% / 48% 54% 46% 52% ;
                        // background: #4b0534;
                        // box-shadow: 10px 10px 10px #4b0534;
                        position: relative;
                        background: #4b0534;
                        border-radius: 57% 43% 70% 30% / 48% 54% 46% 52% ;
                        display: block;
                        z-index: 2;
                        &::after{
                            content: '';
                            background-image: url('../media/user.png');
                            background-size: contain;
                            position: absolute;
                            top: 30px;
                            left: -0px;
                            // background: #4b0534;
                            // border-radius: 57% 43% 70% 30% / 48% 54% 46% 52% ;
                            width: 80%;
                            height: 80%;
                            z-index: 0;
                        }
                    }
                    >section{
                        >div{
                            color: white;
                            font-size: .9rem;
                            h2{
                                font-family: 'Righteous', cursive;
                                font-size: 1.2em;
                                margin-bottom: 10px;
                            }
                            p{
                                font-size: 1em;
                            }
                        }
                        nav{
                            display: flex;
                            gap: 10px;
                            margin-top: 15px;
                            a{
                                color: white;
                                // background: black;
                                background: #4b0534;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                font-size: 1.2rem;
                                position: relative;
                                border-radius: 5px;
                                &::after{
                                    content: attr(tit);
                                    position: absolute;
                                    width: 70px;
                                    left: calc(50% - 35px);
                                    top: 50px;
                                    // background: red;
                                    opacity: 0;
                                    text-align: center;
                                    font-size: .65rem;
                                    transition: .3s all;
                                }
                                &:hover{
                                    &::after{
                                        opacity: 1;
                                        top: 45px;
                                    }
                                }
                                svg{
                                    margin: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes presTop{
    from{
        transform: translateY(60px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes presImg{
    from{
        transform: translateX(-60px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes presTxt{
    from{
        transform: translateX(60px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes spiner {
    to{
        transform: rotate(-360deg);
    }
}

.habil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../media/univers3.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 200vh;
    .cont{
        width: 100%;
        height: 100vh;
        position: absolute;
        bottom: 0;
        .dir{
            position: absolute;
            right: 30px;
            color:white;
            cursor: pointer;
            font-size: 2.5rem;
            z-index: 99;
            &.arriba{
                top: 30px;
            }
            &.abajo{
                bottom: 30px;
            }
        }
        h2{
            color: white;
            text-align: center;
            font-family: 'Rubik Bubbles', cursive;
            background: linear-gradient(#e000e0,#ff4d4dfa);
            -webkit-background-clip: text;
            color: transparent;  
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 2.5rem;
            padding-top: 30px;
            display: block;
            position: relative;
            animation: vuelta 4s infinite linear;
        }
        nav{
            margin: 30px auto;
            width: 90%;
            max-width: 900px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            height: 70vh;
            padding-bottom: 30px;
            overflow: auto;
            section{
                width: 180px;
                height: 220px;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 0 3px #888;
                .rgb{
                    position: absolute;
                    top: -30%;
                    left: -30%;
                    width: 160%;
                    height: 160%;
                    background: conic-gradient(
                        #fd004c,
                        #fe9000,
                        #fff020,
                        #3edfab,
                        #3363ff,
                        #b102b7,
                        #fd00ac,
                    ); animation: spiner 3s infinite linear;
                }
                span{
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    top: 5%;
                    left: 5%;
                    background: rgb(0, 0, 0);
                    color: white;
                    text-align: center;
                    padding: 26px 0;
                    font-size: 3.5rem;
                }
                h3{
                    display: block;
                    width: 100%;
                    position: absolute;
                    text-align: center;
                    bottom: 0;
                    // left: 5%;
                    padding: 8px;
                    background: rgba(0, 0, 0,1);
                    color: white;
                    font-size: 1rem;
                    z-index: 2;
                    box-shadow: 0 0 5px #bbb;
                }
            }
        }
    }
}
@keyframes carga {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.works{
    background-image: url(../media/univers2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    .cont{
        h2{
            color: white;
            text-align: center;
            font-family: 'Rubik Bubbles', cursive;
            background: linear-gradient(#e000e0,#ff4d4dfa);
            -webkit-background-clip: text;
            color: transparent;  
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 2.5rem;
            display: block;
            position: relative;
            animation: vuelta 4s infinite linear;
            padding: 25px 0 15px;
        }
        position: absolute;
        height: 100vh;
        bottom: 0;
        .dir{
            position: absolute;
            right: 30px;
            color:white;
            cursor: pointer;
            font-size: 2.5rem;
            &.arriba{
                top: 30px;
            }
            &.abajo{
                bottom: 30px;
            }
        }
        .sli{
            width: 800px;
            margin: 0 auto;
            // background: red;
            main{
                width: 400%;
                height: 70vh;
                max-height: 500px;
                // max-width: 500px;
                display: flex;
                transition: .4s all ease-in-out;
                section{
                    width: 100%;
                    >div{
                        position: relative;
                        width: 80%;
                        height: 100%;
                        margin: 0 auto;
                        // background: blue;
                        picture{
                            width: 80%;
                            height: 80%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            img{
                                object-fit: contain;
                            }
                        }
                        >div{
                            width: 75%;
                            position: absolute;
                            bottom: 50px;
                            right: 0;
                            background: #4b0534;
                            border-radius: 83% 17% 78% 22% / 17% 100% 0% 83%;
                            padding: 20px;
                            h3{
                                font-family: 'Righteous', cursive;
                                color: white;
                                text-transform: uppercase;
                                letter-spacing: 3px;
                                text-align: center;
                                font-size: .9rem;
                                margin-bottom: 6px;
                            }
                            h4{
                                color: white;
                                font-size: .8rem;
                            }
                            ul{
                                list-style: none;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                gap: 10px;
                                padding-top: 15px;
                                li{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            nav{
                width: 200px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                gap: 20px;
                svg{
                    color: white;
                    font-size: 3rem;
                    cursor: pointer;
                }
            }
        }
    }
}
@keyframes subir {
    from{
        transform: translateY(100vh);
    }
    to{
        transform: translateY(0);
    }
}
