* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
/* HOLA */
body {
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    // transform: translateY(0vh);
    transition: .3s all;
}
html {
    font-size: 20px;
    cursor: url(../media/1.png), auto;
}
@media  (max-width: 900px) {
    html{
        font-size: 14px;
    }
}
div,section,nav,picture,img,span:not(.span-not),small,strong,label,input,button,a,header {
    display: block;
    width: 100%
}
img {
    height: 100%;
    object-fit: contain
}
button{
    border: 0;
    outline: none;
}
.subir{
    display: block;
    position: fixed;
    z-index: 99;
    top: 200px;
    right: 0;
    width: 50px;
    padding: 5px 0;
    cursor: pointer;
}
.App{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    // transition: .1s all ;
}
.dir{
    position: absolute;
    bottom: 3rem;
    color:white;
    cursor: pointer;
    font-size: 1.8rem;
    z-index: 99;
    &.arriba{
        right: 2rem;
    }
    &.abajo{
        right: 6rem;
    }
}
.txt-tit{
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    background: linear-gradient(#e000e0,#ff4d4dfa);
    -webkit-background-clip: text;
    color: transparent;  
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
}
.sld1{
    .pres{
        .fondo{c:\Users\52749\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.html
            .pres-cont{
                &.animado{
                    >section{
                        // h1{
                            // animation: presTop 2s ;
                        // }
                        >div{
                            picture{
                                animation: presImg 2s ;
                            }
                            >section{
                                animation: presTxt 2s ;
                            }
                        }
                    }
                }
            }
        }
    }
}
.sld2{
    .habil{
        nav{
            section{
                animation: carga 1s  linear,
                vuelta 6s infinite linear;
            }
        }
    }
}
.sld3{
    .works{
        .cont{
            animation: subir 2s ;
        }
    }
}


.habil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../media/univers3.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 200vh;
    .cont{
        width: 100%;
        height: 90vh;
        position: absolute;
        bottom: 0;
        z-index: 0;
        h2{
            padding-top: 30px;
            display: block;
            position: relative;
            animation: vuelta 4s infinite linear;
        }
        nav{
            margin: 30px auto;
            width: 90%;
            max-width: 900px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            height: 70vh;
            padding-bottom: 30px;
            overflow: auto;
            section{
                width: 180px;
                height: 220px;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 0 3px #888;
                .rgb{
                    position: absolute;
                    top: -30%;
                    left: -30%;
                    width: 160%;
                    height: 160%;
                    background: conic-gradient(
                        #fd004c,
                        #fe9000,
                        #fff020,
                        #3edfab,
                        #3363ff,
                        #b102b7,
                        #fd00ac,
                    ); animation: spiner 3s infinite linear;
                }
                span{
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    top: 5%;
                    left: 5%;
                    background: rgb(0, 0, 0);
                    color: white;
                    text-align: center;
                    padding: 26px 0;
                    font-size: 3.5rem;
                }
                h3{
                    display: block;
                    width: 100%;
                    position: absolute;
                    text-align: center;
                    bottom: 0;
                    // left: 5%;
                    padding: 8px;
                    background: rgba(0, 0, 0,1);
                    color: white;
                    font-size: 1rem;
                    z-index: 2;
                    box-shadow: 0 0 5px #bbb;
                }
            }
        }
    }
}
.works{
    background-image: url(../media/univers2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    .cont{
        position: absolute;
        height: 100vh;
        bottom: 0;
        h2{
            display: block;
            position: relative;
            top: 100px;
            animation: vuelta 4s infinite linear;
            padding: 25px 0 15px;
        }
        .sli{
            max-width: 800px;
            margin: 0 auto;
            // background: red;
            main{
                width: 400%;
                height: 70vh;
                max-height: 500px;
                // max-width: 500px;
                display: flex;
                transition: .4s all ease-in-out;
                section{
                    width: 100%;
                    >div{
                        position: relative;
                        width: 90%;
                        height: 100%;
                        margin: 0 auto;
                        // background: blue;
                        picture{
                            width: 80%;
                            height: 80%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            img{
                                object-fit: contain;
                            }
                        }
                        >div{
                            width: 90%;
                            position: absolute;
                            bottom: 50px;
                            right: 0;
                            background: #4b0534;
                            border-radius: 83% 17% 78% 22% / 17% 100% 0% 83%;
                            padding: 20px;
                            h3{
                                font-family: 'Righteous', cursive;
                                color: white;
                                text-transform: uppercase;
                                letter-spacing: 3px;
                                text-align: center;
                                font-size: .9rem;
                                margin-bottom: 6px;
                            }
                            h4{
                                color: white;
                                font-size: .7rem;
                                font-weight: 300;
                            }
                            ul{
                                list-style: none;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                gap: 10px;
                                padding-top: 15px;
                                li{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            nav{
                width: 200px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                gap: 20px;
                svg{
                    color: white;
                    font-size: 3rem;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (max-width:700px) {
    .works{
        .cont{
            h2{
                transform: translateY(150px);
            }
            .sli{
                main{
                    section{
                        >div{
                            picture{
                                top: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.curri{
    width: 100%;
    height: 100vh;
    background-image: url(../media/univers.jpg);
    background-size: cover;
    user-select: none;
    position: relative;
    >div{
        width: 100%;
        height: 100vh;
        max-width: 1100px;
        margin: 0 auto;
        h2{
            position: absolute;
            top: 4vh;
            left: 0;
            width: 100%;
            text-align: center;
        }
        .cur-sec{
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            div{
                width: 90%;
                max-width: 400px;
                height: 90vh;
                max-height: 600px;
                margin: auto;
                position: relative;
                picture{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    img{
                        object-fit: contain;
                    }
                }
            }
            .curr-fig{
                position: absolute;
                background: #c90c8ab7;
                // background: #f00;
                width: 12rem;
                height: 12rem;
                &.curr-fig1{
                    left: 2.5rem;
                    top: 7vh;
                    border-radius: 50% 50% 100% 0% / 50% 0% 100% 50% ;
                }
                &.curr-fig2{
                    right: 2.5rem;
                    bottom: 7vh;
                    border-radius: 100% 0% 50% 50% / 100% 50% 50% 0% ;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    flex-direction: row;
                    gap: 10px;
                    h3{
                        transform: translateY(-30px);
                        color: white;
                    }
                    nav{
                        transform: translateY(-30px);
                        display: flex;
                        a{
                            color: white;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
        // background: rgba(0, 0, 255, 0.279);
        /*
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 30%;
        max-width: 1100px;
        margin: 0 auto;
        position: relative;
        // background: #b102b7;
        .cur-sec{
            width: 90%;
            margin: 0 auto;
            padding-top: 100px;
            max-width: 600px;
            height: 100vh;
            max-height: 600px;
            // background: green;
            display: grid;
            place-items: center;
            position: relative;
            div{
                max-width: 400px;
                height: 300px;
                // height: 100%;
                // background: blue;
                position: relative;
                picture{
                    position: absolute;
                    top: calc(50% - 250px);
                    // transform: translateY(-50%);
                    left: 0;
                    img{
                        object-fit: contain;
                    }
                }
            }
            .curr-fig{
                position: absolute;
                background: #4b0534b7;
                width: 250px;
                height: 250px;
                &.curr-fig1{
                    z-index: 0;
                    left: 0px;
                    top: 30px;
                    border-radius: 50% 50% 100% 0% / 50% 0% 100% 50% ;
                }
                &.curr-fig2{
                    right: 0px;
                    bottom: -70px;
                    border-radius: 100% 0% 50% 50% / 100% 50% 50% 0% ;
                }
            }
        }
        .cur-cur{
            display: flex;
            position: relative;
            >div{
                margin: auto;
                h2{
                    position: absolute;
                    top: 30px;
                    right: 30px;
                }
                div{
                    background: #4b05347b;
                    padding: 20px;
                    border-radius: 10px;
                    h3{
                        color: white;
                        padding-bottom: 10px;
                    }
                    nav{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 10px;
                        a{
                            width: 2.5rem;
                            height: 2.5rem;
                            background: #222;
                            color: white;
                            display: flex;
                            border-radius: 10px;
                            svg{
                                margin: auto;
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
        */
    }
}
@media screen and (max-width:700px) {
    // .curri{
    //     >div{
    //         display: block;
    //         .cur-sec{
    //             div{
    //                 transform: translateY(70px);
    //             }
    //             .curr-fig{
    //                 display: none;
    //             }
    //         }
    //         .cur-cur{
    //             position: absolute;
    //             top: 100px;
    //             // background: red;
    //             height: 100vh;
    //             >div{
    //                 h2{
    //                     top: 0;
    //                     left: 0;
    //                 }
    //                 div{
    //                     max-width: 250px;
    //                     position: absolute;
    //                     bottom: 25vh;
    //                     right: 0;
    //                     background: #0000;
    //                     h3{
    //                         display: none;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}